wwwroot/lib/** linguist-vendored
wwwroot/**/*.css linguist-vendored
wwwroot/**/*.js linguist-vendored
**/*.min.css linguist-vendored
**/*.min.js linguist-vendored
**/*.map linguist-generated
*.cs linguist-detectable=true